.video-container {
  height: 100%;
  width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-controls {
  position: absolute;
  bottom:1;
  left: 20;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5%;
}

.video {
    position: relative;
    width: 70%;
    height: 100%;
    overflow: hidden;
    padding-top: 30px;
    z-index: 1;
}

.buttonUp:hover {
    background-color: #e2ffc6;
}

.buttonDown:hover {
    background-color: #e2ffc6;
}

