.login-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transform: translate(50%, 50%);
    margin-right: 400px;
  }
  
  .login-container h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
    align-self: center;
  }
  
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label{
    display: flex;
    align-self: flex-start;
    margin-left: -10px ;
  }

  button[type="submit"]:hover {
    background-color: #0066aa;
    }
    
  