/* Center the video and buttons horizontally */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Style the video element */
video {
  width: 80%;
  max-width: 1000px;
}

/* Style the buttons */
button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f7f7f7;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90px;
}

button:hover {
  background-color: #333;
  color: #f7f7f7;
}
